* {
  margin: 0;
}


/* Nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0;
  padding: 0;
  height: 8rem;
  width: 100vw;
  background-color: #FFF7ED;
  position: fixed;
  top: 0; 
}

.nav a {
  margin: 0 1.2rem;
  text-decoration: none;
  color: #4D4D4D;
}


.nav-span {
  font-weight: 900;
  font-size: 1.5rem;
  color: black;
}

.nav-nonhomeroutes a:hover {
  text-decoration: underline;
  color: black;

}

a.highlighted {
  font-weight: bold;
  text-decoration: underline;
}

/* Home */

.home-main {
  margin-top: 8rem;
  width: 100%;
  height: 77vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/home-bg.png")no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.home-content {
  height: 500px;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-content h1 {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 42px;
}

.home-content p {
  margin-top: 2rem;
}

.home-content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: 5vh;
  min-height: 5vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF8C38;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF7ED;
}

/* About */

.about-main {
  margin: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 77vh;
  background-color: #FFF7ED;
  
}

.about-content {
  height: 500px;
  width: 77vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.about-content p, .about-content h1 {
  color: #161616;
}

.about-content h1 {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}
.about-content p {
  margin: 0.5rem 0;
  font-weight: 500;
}


.about-img {
  margin-top: 5rem;
  width: 75%;
}

.about-explore {
  margin-bottom: 6rem;
  background-color: #FFCC8D;
  min-height: 13vh;
  max-height: 30vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.about-explore-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 75%;
  height: 125px;

}

.about-explore-content h3 {
  color: #161616;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
}

.explore-link {
  padding: 0.5rem;
  background-color: black;
  color: #FFF7ED;
  text-decoration: none;
  min-width: 150px;
  max-width: 175px;
  margin-top: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

/* Vans */

.vans-main {
  height: 100vh;
  width: 90vw; 
  color: white; 
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;

}


.van-tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 34px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;

}

.van-tile a {
  text-decoration: none;
  color: white; 
}

.van-info-sort {
  display: flex;
  justify-content: space-between;
}


.van-img {
  max-width: 200px;
}

.type {
  max-height: 1rem;
  
}

/* Van Detail */
.detail-main-container{
height: 100vh;
width: 100vw;
margin-top: 10rem;

}

.detail-main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.detail-img {
  margin-left: 5%;
  width: 90%;
  border-radius: 5px;
  margin-block: 47px;
}

/* Host */

.host {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  padding: 0;
  height: 8rem;
  width: 100vw;
  position: fixed;
  top: 0; 
  
  }

  .host-van-content {
    display: flex;
    background-color: white;
    color: #161616;
    height: 4rem;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
  }

    .host-van-content a {
    text-decoration: none;
    color: black;
  }

  .host-van-img {
    width: 66px;
    max-width: 70px;
    margin-right: 1rem;
    
  }

  .host-van-name-price p {
    font-size: 0.8rem;
    font-weight: 400;
  }


  .host a {
    margin: 0 1rem;
    text-decoration: none;
    color: #4D4D4D;

  }

  .host a:hover {
    color:#FFF7ED;
    text-decoration: underline;
  }

  a.host-highlighted {
    color:#FFF7ED;
    text-decoration: underline;
  }

  /* Host Van Detail */

  .host-van-tile-container {
    height: 50vh;
    width: 75vw;
    margin: 14rem auto 0 auto;
  }

  .host-van-detail {

      display: flex;
      background-color: white;
      color: #161616;
      height: 25vh;
      width: 90%;
      margin-top: 2rem;
      padding: 1rem;

  }

  .host-van-detail img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;

  }


  .back-button {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 26px;
  }

  .back-button span:hover {
    text-decoration: underline;
}



/* Footer */

.footer {
  height: 4rem;
  width: 100%;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;

}

/* component */

.page {
  width: 75%;
  margin: 15rem auto 0 auto; 
}

